/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2015, 4:44:05 PM
    Author     : Caleb Sylvester
*/




/* GLOBAL ATTRIBUTES */

body{
    background-color:#323232;
    font-family: Source Sans Pro; 
    color:#FFCC00;
}

/* CLASSES */



/* SPECIFIC ID'S */

#wrapper{
    background-color:#DDDDDD; 
    width:100%; 
}

#featuredThesis{
    float:left; 
     
     
}

#wrapper #featuredThesisHeader{
    text-align: center; 
    
}

#wrapper #featuredThesisBody{
    text-align: left; 
    padding-left:120px; 
    padding-right:120px;
    line-height: 25px; 
    
}

#wrapper #myProjects{
     
    float:right; 
    text-align:center;
    padding-left:120px; 
    padding-right:120px;
    
}

.button{
    padding-top:20px; 
    width:250px; 
    text-align:center; 
    
}


#wrapper #myProjects #getYourProjectHeader{
    text-align:center; 
    
}

#wrapper #myProjects #output #yourProjectsLiveLink{
    text-align:center; 
    
}

#wrapper #myProjects #output #repeatStyle{
        text-align:center; 
    
}

 .subButton{
    width:160px; 
    height:33px; 
    font-family:Source Sans Pro; 
    font-size:16px; 
    
}




